DB_HOST=localhost
DB_PORT=5432
DB_NAME=logdetect
DB_USERNAME=logdetect
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

ELASTICSEARCH_URIS=http://localhost:9200

ADMIN_USERNAME=admin
ADMIN_PASSWORD=

CONFIG_USERNAME=config
CONFIG_PASSWORD=
CONFIG_SERVER_URL=http://localhost:28761
EUREKA_URL=http://localhost:28761/eureka/
